body {
    background-color: #FFA64F;
}
h1 {
    color: burlywood;
    background-color: rgb(	144,70,23);
    font-family: "Ennobled Pet", "Aptos";
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;
    
}
h2 {
    color: black;
    font-family: "Aptos";
    font-size: 15px;
    font-weight: bold;
}
p {
    color: black;
    font-family: "Juice ITC";
    font-size: 150%;
}
.topnav {
    overflow:hidden ;
    background-color: black;
}
.topnav a {
    float: left;
    color:whitesmoke ;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    background-color: gainsboro;
    color: black;
}
.topnav a.active {
    background-color: burlywood;
    color: white;
}

table, th, td {
    border: 2px solid black;
}

#container {
    width: 350px;
    margin: 0px, auto;
    padding: 30px;
    background: whitesmoke;
}

figure {
    border: 2px white solid;
    padding: 7px;
    margin: auto;
}

img {
    width: 100%;
}