body {
    background-color: #FFA64F;
    font-optical-sizing: auto;
}
/*heading 1 asetus*/
h1 {
    color: black;
    background-color: rgb(205, 90, 18);
    font-family: "Ennobled Pet", "Aptos";
    font-size: 3rem;
    font-weight: bolder;
    padding: 20px;
    
}
/*heading 2 asetus*/
h2 {
    color: black;
    font-family: "Aptos", Serif;
    font-size: 1.4rem;
    text-align: center;
    
}
/*perustekstin asetus*/
p {
    color: black;
    font-family: "Juice ITC";
    font-size: 2rem;
    text-align: center;
}
/*navigointi kaiken sivuun*/
.topnav {
    overflow:hidden ;
    background-color: black;
}
.topnav a {
    float: left;
    color:whitesmoke ;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    background-color: gainsboro;
    color: black;
}
.topnav a.active {
    background-color: rgb(90, 54, 5);
    color: white;
}
/*taulukon asennus*/
table, th, td {
    border: 2px solid black;
    font-size: 1.25rem;
}
ul li {
    margin: 3px;
    font-size: 1.1rem;

}
/*valkoinen tausta tekstien takana*/
#container {
    max-width: 325px;
    margin: auto;
    padding: 16px;
    background: whitesmoke;
}
/*kuvissa oleva valkoinen reuna*/
figure {
    border: 2px white solid;
    padding: 7px;
    margin: auto;
}
/*kuvien koon asetus*/
img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 1240px) {
    h1 { 
        font-size: 4.5rem;
    }
    h2 { 
        font-size: 3rem;
       }
    p { 
        font-size: 3.5rem;
       }
 }